</div>
<div class="footer-padding"></div>
<div class="footer">
    <a href="https://swiftkatana.herokuapp.com/?">
        <p>&copy; daniel levy <img src="\imgs\favicon.ico"> </p>
    </a>
</div>
</div>
</body>

</html>